<configuration name="xml_curl.conf" description="cURL XML Gateway">
  <bindings>
    <binding name="directory">
      <param name="gateway-url" value="http://{{ comet_server }}:{{ comet_port }}/directory" bindings="directory"/>
      <param name="method" value="GET" />
    </binding>
  </bindings>
</configuration>
